obj/hospital-frontend-core.csproj.nuget.dgspec.json
obj/hospital-frontend-core.csproj.nuget.g.props
obj/hospital-frontend-core.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/hospital-frontend-core.AssemblyInfo.cs
obj/Debug/net6.0/hospital-frontend-core.AssemblyInfoInputs.cache
obj/Debug/net6.0/hospital-frontend-core.assets.cache
obj/Debug/net6.0/hospital-frontend-core.csproj.AssemblyReference.cache
obj/Debug/net6.0/hospital-frontend-core.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/hospital-frontend-core.csproj.FileListAbsolute.txt
obj/Debug/net6.0/hospital-frontend-core.dll
obj/Debug/net6.0/hospital-frontend-core.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/hospital-frontend-core.genruntimeconfig.cache
obj/Debug/net6.0/hospital-frontend-core.GlobalUsings.g.cs
obj/Debug/net6.0/hospital-frontend-core.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/hospital-frontend-core.pdb
obj/Debug/net6.0/hospital-frontend-core.RazorAssemblyInfo.cache
obj/Debug/net6.0/hospital-frontend-core.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ref/hospital-frontend-core.dll
obj/Debug/net6.0/refint/hospital-frontend-core.dll
obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net6.0/scopedcss/bundle/hospital-frontend-core.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/hospital-frontend-core.bundle.scp.css
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/hospital-frontend-core.deps.json
bin/Debug/net6.0/hospital-frontend-core.dll
bin/Debug/net6.0/hospital-frontend-core.exe
bin/Debug/net6.0/hospital-frontend-core.pdb
bin/Debug/net6.0/hospital-frontend-core.runtimeconfig.json
bin/Debug/net6.0/hospital-frontend-core.staticwebassets.runtime.json
