@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Patient" asp-action="Patients">Patients</a>
    <a asp-controller="Patient" asp-action="Add Patient">Add Patient</a>
</div>
