@model credential;

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hospital_frontend_core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="modal" tabindex="-1" style="display: flex">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                    <h1 class="h3 mb-3 fw-normal">Login Error. Please Try Again</h1>
                </div>
                <div class="modal-body">
                     <form asp-controller="Home" asp-action="Login">
                        <div class="form-floating">
                            <input asp-for="username" class="form-control" id="usernameInput" />
                            <label  for="usernameInput">Username</label>
                        </div>
                        <div class="form-floating">
                            <input asp-for="password" type="password" class="form-control" id="passwordInput" />
                            <label for="passwordInput">Password</label>
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember me
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                        <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>