@model patient

@{
    ViewData["Title"] = "Create Patient";
}

<div class="container">
    <main>
        <div class="row py-5">
            <div class="col-sm-9">
                <h2>Create Patient</h2>
            </div>
            <div class="col-sm-3">
                <div class="btn-group" role="group">
                    <a asp-controller="Patient" asp-action="Patients" type="button" class="btn btn-secondary">Cancel</a>
                    <a id="addAnchor" type="button" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mb-3">Patient Details</h4>
                <form asp-controller="Patient" asp-action="AddPatient" method="post">
                    <div class="input-group mb-3">
                        <div class="col-sm-5">
                            <label asp-for="FName" class="form-label"></label>
                            <input asp-for="FName" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="MInit" class="form-label"></label>
                            <input asp-for="MInit" class="form-control" />
                        </div>
                        <div class="col-sm-5">
                            <label asp-for="LName" class="form-label"></label>
                            <input asp-for="LName" class="form-control" />
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-sm-5">
                            <label asp-for="BirthDate" class="form-label"></label>
                            <input asp-for="BirthDate" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="Sex" class="form-label"></label>
                            <input asp-for="Sex" class="form-control" />
                        </div>
                        <div class="col-sm-5">
                            <label asp-for="ContactNo" class="form-label"></label>
                            <input asp-for="ContactNo" class="form-control" />
                        </div>
                    </div>
                    <div id="hiddenFormItems" style="display: none;">
                        <input id="addButton" type="submit" name="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <script src="~/js/AddPatient.js" asp-append-version="true"></script>
}