@model admission

@{
    ViewData["Title"] = "Discharge Patient";
}

<div class="container">
    <main>
        <div class="row py-5">
            <div class="col-sm-9">
                <h2>Discharge Patient - @Model.Patient.Name</h2>
            </div>
            <div class="col-sm-3">
                <div class="btn-group" role="group">
                    <a asp-controller="Patient" asp-action="AdmissionDetails" asp-route-id="@Model.HistoryID" type="button" class="btn btn-secondary">Cancel</a>
                    <a id="dischargeAnchor" type="button" class="btn btn-danger">Discharge</a>
                </div>
            </div>
        </div>
        <div class="row">
            <form asp-controller="Patient" asp-action="DischargePatient" method="post">
                <div class="alert alert-warning" role="alert">
                    <h2>You are about to discharge patient @Model.Patient.Name. Are you sure?</h2>
                </div>
                <div id="hiddenFormItems" style="display: none;">
                    <label asp-for="HistoryID" class="form-label"></label>
                    <input asp-for="HistoryID" class="form-control" readonly />
                    <input id="dischargeButton" type="submit" name="submit" value="Submit" />
                </div>
            </form>
        </div>
    </main>
</div>
@section Scripts {
    <script src="~/js/DischargePatient.js" asp-append-version="true"></script>
}